

.cover {
    background-image: url("pharmacycover.jpg");
    height: 400px;
    background-size: auto;

}
.row .cover>img{  
}
.row .cover>p {color:azure;
  text-shadow: 3px 3px;
  text-decoration-style:dotted;
text-align: center;
margin-top: 200px;
font-size: xx-large;
font-weight: bolder;
text-transform: uppercase;}
.navbar{background-color: #4284f4;}
.navbar-brand {color: aqua;}
.dropdown-menu {background-color:#4284f4;}
.container-fluid {text-transform: uppercase;
font-weight: bold;}
.nav-item {padding-left: 25px;}

.container .carousel-item>p {text-transform: uppercase;
font-weight: bold;
font-size: x-large;
color:black;
text-align: center;
position: relative;
  bottom: 250px;
  
}
.cardcont {margin-top: 35px;
}
.card { float: left;
margin-left: 55px;}

.my-5{
width: 100%;
float: left;}
.carousel-inner{margin-top: 30px;}
.loc {margin: 20px;
float: left;}
.adress{float: right;
margin: 50px;
position: relative;
right: 100px;
background-color: #4284f4;
border: solid grey 2px;
width: 40%;}
.textdiet {line-height: 1.7em;
margin-top: 10px;}
.textdiet>h3{background-color:beige ;
width: fit-content;

border: solid black 2px;}
.textabout{background-color:gray;
margin-top: 35px;
border: solid black 2px;}
.textabout>p{
list-height:1.7em ;
font-family: 'Courier New', Courier, monospace;
font-size: larger;
font-weight: bold;
}
.contact{border: solid black 2px;}
.photoabout>img{width: 100%;}